@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Chakra Petch', sans-serif;
	color: #2f2f2f;
	background-color: #000;
}

i {
	display: flex;
	font-size: 1.3rem;
	cursor: pointer;
}

.text-shadow {
	text-shadow: 3px 3px 3px #000a;
}

.text-shadow-sm {
	text-shadow: 1px 1px 3px #000a;
}

.nunito {
	font-family: 'Nunito', sans-serif;
}

.londrina {
	font-family: 'Londrina Outline', sans-serif;
}
