@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--core-text-hex: #2f2f2f;
	--core-select: #98abee55;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--core-text-hex);
	background-color: #011825;
	background-image: radial-gradient(#4f4f4f 1px, transparent 0);
	background-size: 40px 40px;
	background-position: -5px -5px;
	background-attachment: fixed;
}

::selection {
	background-color: var(--core-select);
}
